body {
	text-align: center;
}
.con{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.space{
	width: 20px;
}
p{
	text-align: center;
}

.con1{
	width: 160px;
	height: 25px;
	background-color: orange;
}
.con2{
	width: 160px;
	height: 25px;
	background-color: green;
}

.maincon{
	float: left;
	width: 160px;
	}
	
.spc{
	width: 30px;
	float: left;
	background-color: white;
	color: white;
}